/* FONTS */
@font-face {
  font-family: DarkAge;
  src: url("./fonts/DarkAge.TTF");
}

@font-face {
  font-family: HolyUnion;
  src: url("./fonts/HolyUnion.ttf");
}

@font-face {
  font-family: Donauschrift;
  src: url("./fonts/Donauschrift.TTF");
}

@font-face {
  font-family: SonOfTime;
  src: url('./fonts/SonOfTime.ttf');
}

/* COLORS */
/*
#4C4731 #C4BDA3 #908459 #A0A88A #6E775E
#B69335 #111613 #9B9A9D #676668 #C05C14
background: rgb(192,92,20);

background: linear-gradient(180deg, 
rgba(192,92,20,1) 10%, 
rgba(182,147,53,1) 20%, 
rgba(144,132,89,1) 30%,
rgba(76,71,49,1) 40%, 
rgba(110,119,94,1) 50%, 
rgba(160,168,138,1) 60%, 
rgba(196,189,163,1) 70%, 
rgba(155,154,157,1) 80%, 
rgba(103,102,104,1) 90%, 
rgba(17,22,19,1) 100%);
*/

/*  MAIN  */
body {
  padding: 0px;
  margin: 0px;

  background-size: contain;
  background-attachment: fixed;
  background-position: top;
  background-image: url(../images/pattern.png);
}

* {
  box-sizing: border-box;
}

p {
  font-family: SonOfTime;
  font-size: 20px;
  text-shadow: 0 0.1rem rgba(0, 0, 0, 0.2);
}

h1 {
  padding-top: 0px;

  margin-top: 0px;
  margin-bottom: -44px;

  font-family: SonOfTime;
  font-size: 85px;
  text-align: center;
  color: white;

  text-shadow: 0 0.27rem black, 0 0 0.04em #B69335, 0.5rem 0em 1rem black;
}

h3 {
  color: white;
  font-size: 28px;
  font-family: SonOfTime;
  text-shadow: 0 0.27rem black, 0 0 0.04em #B69335;
  margin-top: 0px;
}

/*  CLASS  */
.container {
  padding: 0px;
  height: auto;
  align-content: flex;
  margin: auto;
  align-self: center;
}

.box {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  width: 50px;
  /* background-color: #FB35FF; */
  align-content: center;
  margin: auto;
}

.button {
  box-sizing: border-box;

  padding: 1px;
  padding-top: 3px;
  padding-inline: 10px;

  margin: 3px;
  margin-inline: 10px;

  background-color: #A0A88A;

  color: #2d2d2d;
  text-shadow: 0 0.1em rgba(0, 0, 0, 0.2);

  color: rgba(0, 0, 0, 0.9);
  border: solid 1px;
  border-radius: 13px;
  /*
  background: linear-gradient(180deg,
      rgba(160, 168, 138, 0.9) 0%,
  rgba(196, 189, 163, 0.9) 26%,
  rgba(155, 154, 157, 0.9) 50%,
  rgba(110, 119, 94, 0.9) 95%,
  rgba(103, 102, 104, 0.9) 100%); */
  background: linear-gradient(90deg,
      rgba(160, 168, 138, 0.4) 0%,
      rgba(196, 189, 163, 0.4) 26%,
      rgba(155, 154, 157, 0.4) 50%,
      rgba(110, 119, 94, 0.4) 95%,
      rgba(103, 102, 104, 0.4) 100%);
  box-shadow: 0.10rem 0.10rem 0.21rem 0.21rem rgb(47, 51, 41);
  text-decoration: none;
  box-shadow: 0 0.1em rgba(0, 0, 0, 0.2), 0.3rem 0.5em 0.4rem rgba(0, 0, 0, 0.5);

}

.button:hover {
  box-shadow: 0.10rem 0.10rem 0.21rem 0.21rem rgb(47, 51, 41),
    0.10rem 0.10rem 0.40rem 0.40rem rgba(235, 235, 203, 0.085);
  color: #FFFFFF;
  transition: 0.5s;
}

.buttonLabel {}

/*  ID  */
#header {
  padding: 0px;
  margin: 0px;

  height: fit-content;
  text-align: center;

  border: 3px #4C4731 solid;
}

#panorama_picture {
  box-sizing: border-box;
  display: block;

  width: 100%;
  height: 250px;
  border-radius: 3px;

  background-repeat: no-repeat;
  box-shadow: 0 0.1em rgba(0, 0, 0, 0.2), 0.5rem 0.6em 1rem rgba(0, 0, 0, 0.7);
}

#mainBelt {
  background-image: url("../images/panorama_small.jpg");
  background-repeat: no-repeat;
  background-size: 0%;
  height: fit-content;


  height: 203px;
  /* border: #4CBBBB solid 1px; */
}

#headLine {
  padding: 3px;
  padding-inline: auto;
  margin-inline: 17.1%;

  height: fit-content;

  /* border: #FB35FF solid 1px; */
}

#sub {
  /* border: #FB35FF solid 1px; */

  margin-top: 1px;
  height: 15px;
  box-sizing: border-box;
  color: #FFFFFF;
  font-family: SonOfTime;
}

#buttonWrapper {
  margin: 100px;
  margin-top: 0px;
  padding-bottom: 35px;

  height: 30px;

  /* border: #FB2222 solid 1px; */
  text-align: center;

  display: grid;
  grid-template-columns: 25% 25% 25% 25%;

  font-family: SonOfTime;
  font-size: 20px;

}

#bottomWrapper {
  margin: auto;
  margin-inline: 2%;
  margin-right: 2%;
  padding: auto;

  display: grid;
  grid-template-columns: 37% 22% 37%;
  gap: 2%;

  height: 300px;
}

#researchButton {
  text-decoration: none;
  /* Remove underline by default */
}

#newsButton {
  text-decoration: none;
  /* Remove underline by default */
}

#sitesButton {
  text-decoration: none;
  /* Remove underline by default */
}

#artefactButton {
  text-decoration: none;
  /* Remove underline by default */
}

#r {
  font-size: 23px;
}

#l {
  font-size: 26px;
}

#about {
  box-shadow: 0 0.1em rgba(0, 0, 0, 0.2), 0.5rem 0.6em 1rem rgba(0, 0, 0, 0.7);
  background-color: rgba(15, 15, 15, 0.3);
  /*  border: #d69600 solid 1px; */
  padding: 15px;
  border-radius: 15px;
  background: linear-gradient(102deg,
      rgba(160, 168, 138, 0.3) 0%,
      rgba(196, 189, 163, 0.3) 26%,
      rgba(155, 154, 157, 0.3) 50%,
      rgba(110, 119, 94, 0.3) 95%,
      rgba(103, 102, 104, 0.3) 100%);
}

#general {
  box-shadow: 0 0.1em rgba(0, 0, 0, 0.2), 0.5rem 0.6em 1rem rgba(0, 0, 0, 0.7);
  background-color: rgba(15, 15, 15, 0.3);
  border-radius: 15px;
  background: linear-gradient(102deg,
      rgba(160, 168, 138, 0.3) 0%,
      rgba(196, 189, 163, 0.3) 26%,
      rgba(155, 154, 157, 0.3) 50%,
      rgba(110, 119, 94, 0.3) 95%,
      rgba(103, 102, 104, 0.3) 100%);
  /*  border: #d69600 solid 1px; */
  padding: 20px;

  font-size: 20px;
}

#maskContainer {
  height: 20px;

}

#shadow {
  margin-top: 40px;

  padding: 0px;

  position: sticky;

  height: fit-content;

  background-position: bottom;

  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-image: url(../images/shadow.png);

  /* border: #a7a7cb solid 1px; */
}

#shadow:hover {
  opacity: 85%;
}

#mask {
  margin-top: 0px;
  padding: 0px;
  position: sticky;
  inline-size: 100%;




  /* background-image: url(../images/mask.png); */
  background-position: bottom;

  background-size: 100%;
  background-attachment: scroll;

  /* border: #2222FF solid 1px;" */
  opacity: 100%;
}

#mask:hover {
  transition: 0.5s;
  src: url(../images/mask_two_highlighted.png);
  /* align-self: center; */
  align-content: center;
}

.box_socialMedia {
  width: 80%;
  display: grid;
  grid-template-columns: 20% 80%;
  font-family: DarkAge;
  margin-top: 10px;
  padding-bottom: 1px;
}

#socialMediaWrapper {
  padding-top: 4px;
  padding-bottom: 4px;
  height: 38px;

  /* border: solid pink 1px ; */
  background: linear-gradient(102deg,
      rgba(160, 168, 138, 0.2) 0%,
      rgba(196, 189, 163, 0.2) 26%,
      rgba(155, 154, 157, 0.2) 50%,
      rgba(110, 119, 94, 0.2) 95%,
      rgba(103, 102, 104, 0.2) 100%);

  /* background-color: rgb(190, 26, 53); */
  display: grid;
  grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  text-align: center;

  border-radius: 10px;

  opacity: 90%;
}

.socialMedia {
  margin-inline: 2%;
  width: 60px;
  /* border: red solid 1px; */
  opacity: 90%;
}

#fb {
  background-image: url(../images/fb.png);
  background-size: 30px;
  background-repeat: no-repeat;
  opacity: 70%;
}

#fb:hover {
  transition: 0.5s;
  opacity: 100%;
}

#tw {
  background-image: url(../images/tw.png);
  background-size: 30px;
  background-repeat: no-repeat;
  opacity: 70%;
  /**/

  transition-duration: 5s;
  transition-property: opacity, transform;

}

#tw:hover {
  transform: rotate(180deg);
  opacity: 100%;
}

#inst {
  background-image: url(../images/inst.png);
  background-size: 30px;
  background-repeat: no-repeat;
  opacity: 70%;
}

#inst:hover {
  transition: 0.5s;
  opacity: 100%;
}

#pint {
  background-image: url(../images/pint.png);
  background-size: 30px;
  background-repeat: no-repeat;
  opacity: 70%;
}

#pint:hover {
  transition: 0.5s;
  opacity: 100%;
}

#tel {
  background-image: url(../images/tel.png);
  background-size: 30px;
  opacity: 70%;
  background-repeat: no-repeat;
}

#tel:hover {
  opacity: 100%;
  transition: 0.5s;
}

#yt {
  background-image: url(../images/yt.png);
  background-size: 30px;
  background-repeat: no-repeat;
  opacity: 70%;
}

#yt:hover {
  transition: 0.5s;
  opacity: 100%;
}


#animationContainer {
  display: flex;
  height: 100px;
  /* border: rgb(255, 235, 53) 1px solid; */
  align-items: center;
}

#animation {
  margin: auto;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 252, 56, 0.454);
  transition: background-color;
  box-shadow: 0 0 2px 5px rgba(255, 252, 61, 0.445);

}

#animationB {
  margin: auto;
  width: 40px;
  height: 40px;
  background-color: rgb(255, 251, 30);
  transition: background-color;
  rotate: 45deg;

  box-shadow: 0 0 5px 5px rgba(255, 248, 170, 0.79);
}

#animationB {
  animation: pulseB 20s normal infinite;
}

@keyframes pulseB {
  0% {
    background-color: #fffdd3;
  }

  50% {
    background-color: rgba(255, 225, 150, 0.678);
  }

  100% {
    background-color: #fffdd3;
    transform: rotate(-360deg);
  }
}

#animation {
  animation: pulse 20s normal infinite;
}

@keyframes pulse {
  0% {
    background-color: #fff75f;
  }

  50% {
    background-color: rgba(255, 227, 187, 0.678);
  }

  100% {
    background-color: #fffdd3;
    transform: rotate(360deg);
  }
}

.circle {
  width: 40%;
  height: 40%;
  border: 1px solid wheat;
  border-radius: 50px;
}

@keyframes rotate {
  0% {
    background-color: rgb(255, 246, 114);
  }

  20% {
    background-color: rgb(255, 227, 13);
  }

  50% {
    background-color: rgba(255, 217, 67, 0.366);
    transform: rotate(360deg);
  }

  80% {
    background-color: rgb(255, 227, 13);
  }

  100% {
    background-color: rgb(255, 246, 114);
  }
}

#circle01 {
  animation: rotate 4s normal infinite;
  width: 100%;
  height: 100%;
  align-content: center;
}

#circle02 {

  width: 88%;
  height: 88%;
  animation: pulsate 2.33s infinite ease-in-out;
  background-color: rgba(20, 20, 0, 0.2);
  align-self: center;
  margin: auto;

}

#circle03 {
  width: 100%;
  height: 100%;
  animation: pulsate 3.3s infinite ease-in-out;
  background-color: rgba(0, 0, 0, 0.2);
  align-self: center;
  margin: auto;
}

@keyframes pulsate {

  0% {
    transform: scale3d(1.0, 1.0, 1.0);
  }

  50% {
    transform: scale3d(1.2, 1.2, 1.2);
  }

  100% {
    transform: scale3d (0.8, 0.8, 0.8);
  }

}

@media screen and (max-width: 600px) {
  #headLine {
    font-size: 20px;
    margin-top: 0px;
    line-height: 80px;

  }

  .button {
    height: 60px;
    font-size: 40px;
    border-radius: 20px;
    box-shadow: 0 0.1em rgba(0, 0, 0, 0.2), 0.5rem 0.6em 0.7rem rgba(0, 0, 0, 0.4);
  }

  h1 {
    padding-top: 45px;
    color: #fafafa;
    text-shadow: 0 0.1em rgba(0, 0, 0, 0.2), 0.5rem 0em 1rem black;
  }

  #mainBelt {
    margin-top: -20px;
    background-size: cover;
    background-position-x: left;
    background-position-y: top;
    box-shadow: 0 0.1em rgba(0, 0, 0, 0.2), 0.5rem 0.6em 1rem rgba(0, 0, 0, 0.7);
    height: 240px;
  }

  #panorama_picture {
    height: 0px;
  }

  #bottomWrapper {
    margin-top: -90px;
    margin-left: 50%;
    padding-top: 120px;
    grid-template-columns: 100% 0% 0%;

  }

  #general {}

  #sub {
    margin-top: 13px;
    margin-left: -40px;
    color: white;
    text-shadow: 0 0.1em rgba(0, 0, 0, 0.2);
    text-shadow: 0 0.17rem rgb(0, 0, 0, 0.8), 0 0 0.14em #B69335;
    font-size: 23px;
  }

  #l {
    font-size: 20px;
  }

  #r {
    background-color: rgba(0, 0, 0, 0);
    height: 0px;
    font-size: 0px;
    width: 0px;
    opacity: 0;
  }

  #buttonWrapper {
    margin-left: 0px;
    margin-top: 80px;

    height: 300px;
    width: 50%;
    grid-template-columns: 100%;
    gap: 20px;
    padding-bottom: 15px;

    /*   
 #buttonWrapper {
  margin: 100px;
  margin-top: 0px;

  height: 30px;

  border: #FB2222 solid 1px;
  text-align: center;

  display: grid;
  grid-template-columns: 25% 25% 25% 25%;

  font-family: SonOfTime;
  font-size: 20px;
*/
  }
}